<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="log" class="ch.qos.logback.core.FileAppender">
        <File>log/test.log</File>
        <Append>false</Append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %X{sId} %X{cId} %-5level %class{36}:%L %M - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.networknt" level="debug" additivity="false">
        <appender-ref ref="log"/>
    </logger>

</configuration>
